---
http_interactions:
- request:
    method: get
    uri: https://perenual.com/api/species-care-guide-list?key=<API_KEY>&q=maple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '263'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":52,"species_id":10,"common_name":"Johin Japanese Maple","scientific_name":["Acer
        ''Johin''"],"section":[{"id":1211,"type":"watering","description":"Johin Japanese
        Maple should be watered about every 5-7 days with about 1 gallon of water
        on each occasion. Water should be applied slowly and evenly so that the soil
        is thoroughly soaked. Generally, it is better to water your plant deeply only
        once instead of a little bit every day."},{"id":1212,"type":"sunlight","description":"The
        Johin Japanese Maple needs full sun in the morning and afternoon, as well
        as some afternoon shade. It should receive [...]
- request:
    method: get
    uri: https://perenual.com/api/species/details/10?key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '262'
    body:
      encoding: ASCII-8BIT
      string: '{"id":10,"common_name":"Johin Japanese Maple","scientific_name":["Acer
        ''Johin''"],"other_name":["Red Full Moon Maple"],"family":null,"origin":["Japan"],"type":"tree","dimension":"Height:  25
        feet","dimensions":{"type":"Height","min_value":25,"max_value":25,"unit":"feet"},"cycle":"Perennial","attracts":[],"propagation":["Air
        Layering Propagation","Grafting Propagation","Cutting","Division","Seed Propagation"],"hardiness":{"min":"6","max":"6"},"hardiness_location":{"full_url":"https:\/\/perenual.com\/api\/hardiness-map?species_id=10&size=og&key=<API_KEY>","full_iframe":"<iframe
        frameborder=0 scrolling=yes seamless=seamless width=1000 height=550 style=''margin:auto;''
        src=''https:\/\/perenual.com\/api\/hardiness-map?species_id=10&size=og&key=<API_KEY>''><\/iframe>"},"watering":"Average","depth_water_requirement":[],"volume_water_requirement":{"unit":"gallon","value":"1"},"watering_period":null,"watering_general_benchmark":{"value":"7-10","unit":"days"},"plant_anatomy":[{"part":"leaves","color":["bright-red"]},{"part":"veins","color":["yellow"]},{"part":"stems","color":["red"]}],"sunlight":["full
        sun","part shade"],"pruning_month":["March","April"],"pruning_count":[],"seeds":0,"maintenance":null,"care-guides":"http:\/\/perenual.com\/api\/species-care-guide-list?species_id=10&key=<API_KEY>","soil":[],"growth_rate":"Low","drought_tolerant":false,"salt_tolerant":false,"thorny":false,"invasive":false,"tropical":false,"indoor":false,"care_level":"Medium","pest_susceptibility":[],"pest_susceptibility_api":"Coming
        Soon","flowers":false,"flowering_season":null,"flower_color":"","cones":false,"fruits":false,"edible_fruit":false,"edible_fruit_taste_profile":"Coming
        Soon","fruit_nutritional_value":"Coming Soon","fruit_color":[],"harvest_season":null,"leaf":true,"leaf_color":["green"],"edible_leaf":false,"cuisine":false,"medicinal":false,"poisonous_to_humans":0,"poisonous_to_pets":0,"description":"The
        Johin Japanese Maple (Acer ''Johin'') is a one-of-a-kind variety with incredible
        foliage that''s sure to turn heads. It stands out from the crowd with its
        bright yellow-green colored leaves, framed by a deep green margin. Mature
        trees usually have a beautiful, gnarled trunk, making it an ideal choice for
        bonsai enthusiasts. In the spring, its delicate white flowers add an extra
        layer of beauty, before the dramatic autumn hues of red, yellow and orange
        set in. It''s an easy-to-care-for, slow-growing tree that becomes even more
        stunning with age. Perfect for home gardens, patio or courtyard spaces, it''s
        no wonder the Johin Japanese Maple is so popular.","default_image":{"license":451,"license_name":"CC0
        1.0 Universal (CC0 1.0) Public Domain Dedication","license_url":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","original_url":"https:\/\/perenual.com\/storage\/species_image\/10_acer_johin\/og\/pexels-photo-2183508.jpg","regular_url":"https:\/\/perenual.com\/storage\/species_image\/10_acer_johin\/regular\/pexels-photo-2183508.jpg","medium_url":"https:\/\/perenual.com\/storage\/species_image\/10_acer_johin\/medium\/pexels-photo-2183508.jpg","small_url":"https:\/\/perenual.com\/storage\/species_image\/10_acer_johin\/small\/pexels-photo-2183508.jpg","thumbnail":"https:\/\/perenual.com\/storage\/species_image\/10_acer_johin\/thumbnail\/pexels-photo-2183508.jpg"},"other_images":"Upgrade
        Plan To Supreme For Access https:\/\/perenual.com\/subscription-api-pricing.
        Im sorry"}'
  recorded_at: Fri, 01 Sep 2023 18:25:04 GMT
[...]
